:root{
  --purple: #895A95;
  --yellow: #FBD168;
  --brown: #6E4227;
  --light-brown: #D9C1AF;
  --white: #fff;

  --extra-small: 16px;
  --small: 24px;
  --medium: 56px;
  --large: 76px;
  --extra-large: 96px;
}
  
@font-face {
  font-family: 'Harler Mixgiter';
  src: local('Harler Mixgiter'), url(./Assets/Font/Harler_Mixgiter.ttf) format('truetype');
}

body{
  margin: 0;
  font-family: 'Harler Mixgiter', sans-serif;
  font-size: var(--medium);
}

p{
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 

  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Show Default React Slick Arrow */
.slick-prev {
  left: 3% !important;
  z-index: 100;
}
.slick-next {
  right: 3% !important;
  z-index: 100;
}

/* Alterando tamanho do Arrow React Slick */
.slick-next:before, .slick-prev:before{
  font-size: 36px;
  line-height: 1;
  opacity: .75;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;

}

.slick-list{
  overflow: hidden;
}